@{
  Layout = "_Layout";
  ViewBag.Title = "Library: as librarian";
}

<div class="container">
    <div class="row">
        <div class="col">
            <a href="~/librarian/catalogue">Check catalog</a><br>
            <a href="~/librarian/patrons">Check patrons</a> 
        </div>
    </div>
</div>