@{
  Layout = "_Layout";
  ViewBag.Title = "Librarian: Patrons";
}

<div class="container">
    <div class="row">
        <div class="col">
            <p>List of Patrons</p>
            <p><small>option to view details or delete patron</small></p>
        </div>
    </div>
</div>