@{
  Layout = "_Layout";
  ViewBag.Title = "Library: Home";
}


<div class="container">
    <div class="row">
        <div class="col-4 mx-auto">
            <img class="img-fluid" src="../img/blueberries.png">
        </div>
    </div>
</div>