@{
  Layout = "_Layout";
  ViewBag.Title = "Library: Home";
}


<div class="container">
    <div class="row">
        <div class="col">
            <p><a href="~/librarian/">as a librarian</a></p>
            <p><a href="~/patron/">as a patron</a></p>
        </div>
    </div>
</div>