@{
  Layout = "_Layout";
  ViewBag.Title = "Patron: Check-in";
}

<div class="container">
    <div class="row">
        <div class="col">
            <p>List of checked out books</p>
            <p><small>option to check books in</small></p>
        </div>
    </div>
</div>