@{
  Layout = "_Layout";
  ViewBag.Title = "Patron: Checkout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <p>List of library catalogue</p>
            <p><small>option to check books out</small></p>
        </div>
    </div>
</div>