@{
  Layout = "_Layout";
  ViewBag.Title = "Patron";
}

<div class="container">
 <div class="row">
    <div class="col">
        <form>
            <label>As:</label>
            <select>
                <option>Patron</option>
                <option>Patron</option>
                <option>Patron</option>
            </select>
        </form>
        <a href="check-ins">Check-in</a><br>
        <a href="checkouts">Checkout</a>
    </div>
 </div>
</div>
